<main>
    <article>
        <p>Create Comment</p>
        <ul>
            <li>
                <label for="create-userID">User ID:</label>
                <select id="create-userID">
                    {{#each users}}
                    <option value={{id}}>{{id}} - {{name}}</option>
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="create-postID">Post ID:</label>
                <select id="create-postID">
                    {{#each posts}}
                    <option value={{id}}>{{id}} - {{content}}</option>
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="create-timestamp">TimeStamp:</label>
                <input type="datetime-local" id="create-timestamp">
            </li>
            <li>
                <label for="create-content">Content:</label>
                <textarea id="create-content"></textarea>
            </li>
            <li>
                <button id="create-comment">Create Comment</button>
            </li>
        </ul>
    </article>

    <article>
        <p>Retrieve Comment by User or Post</p>
        <ul>
            <li>
                <label for="retrieve-userID">User ID:</label>
                <select id="retrieve-userID">
                    <option value="NULL"></option>
                    {{#each users}}
                    <option value={{id}}>{{id}} - {{name}}</option>
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="retrieve-postID">Post ID:</label>
                <select id="retrieve-postID">
                    <option value="NULL"></option>
                    {{#each posts}}
                    <option value={{id}}>{{id}} - {{content}}</option>
                    {{/each}}
                </select>
            </li>
            <li>
                <button id="retrieve-comment">Select Comment</button>
            </li>
        </ul>
        <table class="output" id="output-comments">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>Content</th>
                <th>Commenter Name</th>
                <th>Timestamp</th>
                <th>Original Poster</th>
                <th>Original Post Content</th>
            </tr>
        </table>
    </article>
    <article>
        <p>Delete Comments</p>
        <ul>
            <li>
                <label for="delete-commentID">Comment ID:</label>
                <select id="delete-commentID">
                    <option value="NULL"></option>
                    {{#each comments}}
                    <option value={{id}}>{{id}} - {{content}}</option>
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="delete-userID">User ID:</label>
                <select id="delete-userID">
                    <option value="NULL"></option>
                    {{#each users}}
                    <option value={{id}}>{{id}} - {{name}}</option>
                    {{/each}}
                </select>
            </li>
            <li>
                <label for="delete-postID">Post ID:</label>
                <select id="delete-postID">
                    <option value="NULL"></option>
                    {{#each posts}}
                    <option value={{id}}>{{id}} - {{content}}</option>
                    {{/each}}
                </select>
            </li>
            <li>
                <button id="delete-comment">Delete Comment</button>
            </li>
        </ul>
    </article>
</main>
