<main>
    <article>
    <p>Create Developer</p>
        <ul>
            <li>
                <label for="create-developer-name">Developer Name:</label>
                <input type = "text" id ="create-developer-name">
            </li>
            <li>
                <button id="create-developer">Create Developer</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Delete Developer</p>
        <ul>
            <li>
                <label for="delete-developer-name">Developer Name:</label>
                <select id="delete-developer-name">
        {{#each developers}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <button id="delete-developers">Delete Developer</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Retrieve Developers</p>
        <ul>
            <li>
                <button id="retrieve-developer">Retrieve Developers</button>
            </li>
        </ul>
        
        <table class="output" id="output-developers">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>Developer ID</th>
                <th>Developer Name</th>
            </tr>
        </table> 
                
    </article>
    <article>
    <p>Update Developer</p>
        <ul>
            <li>
                <label for="update-old-developer-id">Old Developer Name:</label>
                <select id="update-old-developer-id">
                    <option value="NULL"></option>
        {{#each developers}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
                <label for="update-new-developer-name">New Developer Name:</label>
                <input type="text" id="update-new-developer-name">
            </li>
            <li>
                <button id="update-developers">Update Developer</button>
            </li>
        </ul>
    </article>
</main>
