<main>
    <article>
    <p>Create Friendship</p>
        <ul>
            <li>
                <label for="create-userID-1">User ID 1:</label>
               <select id="create-userID-1">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="create-userID-2">User ID 2:</label>
                <select id="create-userID-2">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="create-friend-date">Friend Date:</label>
                <input type = "date" id ="create-friend-date">
            </li>
            <li>
                <button id="create-friendship">Create Friendship</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Delete Friendship</p>
        <ul>
            <li>
                <label for="delete-userID-1">User ID 1:</label>
                <select id="delete-userID-1">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="delete-userID-2">User ID 2:</label>
                <select id="delete-userID-2">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <button id="delete-friendship">Delete Friendship</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Retrieve Friendships for a User</p>
        <ul>
            <li>
                <label for="retrieve-userID">User ID:</label>
                <select id="retrieve-userID">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <button id="retrieve-friendship">Retrieve Friendship</button>
            </li>
        </ul>
            <table class="output" id="output-friendships">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>User 1</th>
                <th>User 2</th>
                <th>Friend Date</th>
            </tr>
        </table> 
    </article>
</main>
