<main>
    <article>
    <p>Create Friendship</p>
        <ul>
            <li>
                <label for="create-userID-1">User ID 1:</label>
               <select name="create-userID-1">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="create-userID-2">User ID 2:</label>
                <select name="create-userID-2">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="create-friend-date">Friend Date:</label>
                <input type = "date" name ="create-timestamp">
            </li>
            <li>
                <button>Create Friendship</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Delete Friendship</p>
        <ul>
            <li>
                <label for="delete-userID-1">User ID 1:</label>
                <select name="delete-userID-1">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="delete-userID-2">User ID 2:</label>
                <select name="delete-userID-2">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <button>Delete Friendship</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Retrieve Friendships for a User</p>
        <ul>
            <li>
                <label for="select-userID-1">User ID:</label>
                <select name="select-userID-1">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <button>Select Friendship</button>
            </li>
        </ul>
            <table class="output">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>User ID 1</th>
                <th>User ID 2</th>
                <th>Friend Date</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table> 
    </article>
</main>
