<main>
    <article>
    <p>Create GameOwnership</p> 
        <ul>
            <li>
                <label for="create-userID">User ID:</label>
                <select name="create-userID">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="create-gameID">Game ID:</label>
                <select name="create-gameID">
        {{#each games}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>  
            </li>
            <li>
                <label for="create-purchase-date">Purchase Date:</label>
                <input type="date" name ="create-purchase-date">
            </li>
            <li>
                <button>Create Game Ownership</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Delete GameOwnership</p> 
        <ul>
            <li>
                <label for="delete-userID">User ID:</label>
                <select name="delete-userID">
                    <option value="NULL"></option>
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="delete-gameID">Game ID:</label>
                <select name="delete-gameID">
                    <option value="NULL"></option>
        {{#each games}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select> 
            </li>
            <li>
                <button>Delete Game Ownership</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Select GameOwnership</p> 
        <ul>
            <li>
                <label for="select-userID">User ID:</label>
                <select name="select-userID">
                     <option value="NULL"></option>
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="select-gameID">Game ID:</label>
                <select name="select-gameID">
                    <option value="NULL"></option>
        {{#each games}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select> 
            </li>
            <li>
                <button>Select Game Ownership</button>
            </li>
        </ul>
                <table class="output">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>User ID</th>
                <th>Game ID</th>
                <th>Purchase Date</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table> 
    </article>
</main>
