<main>
    <article>
        <p>Create Game</p>
        <ul>
            <li><label for = "create-game-name">Game Name: </label>
        <input type="text" id="create-game-name"></li>

        <li><label for = "create-developer-id">Developer ID: </label>
        <select id="create-developer-id">
        {{#each developers}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>    

            <li><label for="create-release-date">Release Date: </label>
        <input type="date" id="create-release-date"></li>

        <li><button id="create-game">Create Game</button></li>
        </ul>
    </article>

    <article>
        <p>Retrieve Game By Developer</p>
        <ul>
        <li><label for ="retrieve-developer-id">Developer ID: </label>
        <select id="retrieve-developer-id">
            <option value="NULL"></option>
        {{#each developers}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select></li>

        <li><button id="retrieve-games">Retrieve Games</button></li>
        </ul>

        <table class="output" id="output-games">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>Game Name</th>
                <th>Developer Name</th>
                <th>Release Date</th>
            </tr>
        </table> 
    </article>

    <article>
        <p>Update Game</p>
        <ul>
            <li><label for "update-old-game-name">Old Game Name: </label>
         <select id="update-old-game-name">
        {{#each games}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>

         <li><label for "update-new-game-name">New Game Name: </label>
        <input type="text" name="update-new-game-name"></li>

        <li><label for "update-new-developer-id">New Developer ID: </label>
        <select id="update-new-developer-id">
        {{#each developers}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>

            <li><label for "update-new-release-date">New Release Date: </label>
        <input type="date" id ="update-new-release-date"></li>

        <li><button>Update Games</button></li>
        </ul>
    </article>

    <article>
        <p>Delete Game</p>
        <ul>
            <li><label for "delete-game-name">Game Name: </label>
        <select id="update-old-game-name">
            <option value="NULL"></option>
        {{#each games}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>

        <li><label for "delete-developer-id">Developer ID: </label>
        <select id="delete-developer-id">
            <option value="NULL"></option>
        {{#each developers}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>

        <li><button id="delete-game">Delete Game</button></li>
        </ul>
    </article>
</main>