<main>
    <article>
    <p>Create GameOwnership</p> 
        <ul>
            <li>
                <label for="create-userID">User ID:</label>
                <select id="create-userID">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="create-gameID">Game ID:</label>
                <select id="create-gameID">
        {{#each games}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>  
            </li>
            <li>
                <label for="create-purchase-date">Purchase Date:</label>
                <input type="date" id ="create-purchase-date">
            </li>
            <li>
                <button id="create-game-ownership">Create Game Ownership</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Delete GameOwnership</p> 
        <ul>
            <li>
                <label for="delete-userID">User ID:</label>
                <select id="delete-userID">
                    <option value="NULL"></option>
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="delete-gameID">Game ID:</label>
                <select id="delete-gameID">
                    <option value="NULL"></option>
        {{#each games}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select> 
            </li>
            <li>
                <button id="delete-game-ownership">Delete Game Ownership</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Retrieve GameOwnership</p> 
        <ul>
            <li>
                <label for="retrieve-userID">User ID:</label>
                <select id="retrieve-userID">
                     <option value="NULL"></option>
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            </li>
            <li>
                <label for="retrieve-gameID">Game ID:</label>
                <select id="retrieve-gameID">
                    <option value="NULL"></option>
        {{#each games}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select> 
            </li>
            <li>
                <button id="retrieve-game-ownership">Retrieve Game Ownership</button>
            </li>
        </ul>
                <table class="output" id="output-game-ownerships">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>User Name</th>
                <th>Game Name</th>
                <th>Purchase Date</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table> 
    </article>
</main>
