<main>
    <article>
        <p>Create Post</p>
        <ul>
            <li><label for "create-userid">User ID: </label>
        <select name="create-userid">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>

            <li><label for "create-timestamp">Timestamp: </label>
        <input type="time" name="create-timestamp"></li>

            <li><label for "create-content">Content: </label>
        <input type="text" name="create-content"></li>

        <li><button>Create Post</button></li>
        </ul>
    </article>

    <article>
        <p>Retrieve Post</p>
        <ul>
            <li><label for "retrieve-userid">User ID: </label>
        <select name="retrieve-userid">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>

            <li><label for "retrieve-timestamp">Timestamp: </label>
        <input type="time" name="retrieve-timestamp"></li>

            <li><label for "retrieve-content">Content: </label>
        <input type="text" name="retrieve-content"></li>

        <li><button>Retrieve Posts</button></li>
        </ul>

        <table class="output">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>Post ID</th>
                <th>User ID</th>
                <th>Timestamp</th>
                <th>Content</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </article>

    <article>
        <p>Delete Post</p>
        <ul>
            <li><label for "delete-userid">User ID: </label>
        <select name="delete-userid">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>

            <li><label for "delete-timestamp">Timestamp: </label>
        <input type="time" name="delete-timestamp"></li>

            <li><label for "delete-content">Content: </label>
        <input type="text" name="delete-content"></li>

        <li><button>Delete Post</button></li>
        </ul>
    </article>
</main>