<script src="/postsindex.js" charset="utf-8" defer></script>


<main>
    <article>
        <p>Create Post</p>
        <ul>
            <li><label for ="create-userid">User ID: </label>
        <select id="create-userid">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>

            <li><label for ="create-timestamp">Timestamp: </label>
        <input type="datetime-local" id="create-timestamp"></li>

            <li><label for ="create-content">Content: </label>
        <textarea id="create-content"></textarea></li>

        <li><button id = "create-post">Create Post</button></li>
        </ul>
    </article>

    <article>
        <p>Retrieve Posts by User</p>
        <ul>
            <li><label for ="retrieve-userid">User ID: </label>
        <select id="retrieve-userid">
            <option value="NULL"></option>
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select></li>

        <li><button id="retrieve-post">Retrieve Posts</button></li>
        </ul>

        <table class="output" id="output-post">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>User Name</th>
                <th>Timestamp</th>
                <th>Content</th>
            </tr>
        </table>
    </article>

    <article>
        <p>Delete Post or All Posts By a User</p>
        <ul>
            <li><label for ="delete-userid">User ID: </label>
        <select id="delete-userid">
            <option value="NULL"></option>
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>

            <li><label for ="delete-postid">Post ID: </label>
        <select id="delete-postid">
            <option value="NULL"></option>
        {{#each posts}}
            <option value={{id}}>{{id}} - {{content}}</option>
        {{/each}}
        </select>

        <li><button id="delete-post">Delete Post</button></li>
        </ul>
    </article>
</main>