<main>
    <article>
        <p>Create User</p>
        <ul>
            <li><label for ="create-username">User Name: </label>
        <input type="text" id="create-username"></li>

            <li><label for ="create-birthdate">Birthdate: </label>
        <input type="date" id="create-birthdate"></li>

            <li><label for ="create-profile-message">Profile Message: </label>
        <input type="text" id="create-profile-message"></li>

        <li><button id="create-user">Create User</button></li>
        </ul>
    </article>

    <article>
        <p>Retrieve User</p>
        <ul>
            <li><label for ="retrieve-username">User Name: </label>
        <input type="text" id="retrieve-username"></li>

            <li><label for ="retrieve-birthdate">Birthdate: </label>
        <input type="date" id="retrieve-birthdate"></li>

        <li><button id="retrieve-user">Retrieve Users</button></li>
        </ul>

        <table id="output-user">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Birthdate</th>
                <th>Profile Message</th>
            </tr>
        </table>
    </article>

    <article>
        <p>Update User</p>
        <ul>
            <li><label for="update-old-username">Old User Name: </label>
        <select id="update-old-userid">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
            <li><label for ="update-new-username">New User Name: </label>
        <input type="text" id="update-new-username"></li>

            <li><label for ="update-new-birthdate">New Birthdate: </label>
        <input type="date" id="update-new-birthdate"></li>

            <li><label for ="update-new-profile-message">New Profile Message: </label>
        <input type="text" id="update-new-profile-message"></li>

        <li><button id="update-user">Update Users</button></li>
        </ul>
    </article>

    <article>
        <p>Delete User</p>
        <ul>
            <li><label for ="delete-username">User Name: </label>
        <select id="delete-username">
        {{#each users}}
            <option value={{id}}>{{id}} - {{name}}</option>
        {{/each}}
        </select>
        <li><button id="delete-user">Delete User</button></li>
        </ul>
    </article>
</main>